container_commands:
   00_migrate:
      command: "php artisan migrate --force"
      cwd: "/var/app/ondeck"
      leader_only: true
   01_seed:
      command: "php artisan db:seed --force"
      cwd: "/var/app/ondeck"
      leader_only: true
   02_install_node_modules:
      command: 'sudo npm install'
      cwd: "/var/app/ondeck"
   03_run_production:
      command: 'sudo quasar build'
      cwd: "/var/app/ondeck"
   04_move_index:
      command: 'sudo mkdir -p resources/views; sudo mv public/index.html resources/views/welcome.blade.php'
      cwd: "/var/app/ondeck"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Making /storage writeable..."
      chmod -R 777 /var/app/current/storage

  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      /var/app/current/storage/logs/*.log
